// NOTE: This file is also used by svg-activity, via the Daily Command

cd-hud {
  position: fixed;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  line-height: 2.9em;
  padding-right: 1em; // visually center icons
  font-size: 16px;
  
  color: white;
  background: linear-gradient(to right, hsl(227, 45%, 38%), hsl(220, 45%, 53%), hsl(227, 45%, 38%));
  box-shadow: 0 0 5px rgba(black, .5);
  z-index: 2000;
  
  
  
  & > *, .button {
    flex: 0 0 auto;
    margin: 0 1em;
  }
  
  .button {
    text-transform: none;
  }
  
  [cd-hud-button] {
    text-align: center;
    height: 2.1em;
    font-size: 0.95em;
    line-height: 2.1em;
    padding: 0 .5em;
    color: white;
  }
}
