// LAYOUT
$header-height: 48px;

// FONTS
$system-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

// SITE COLORS
$bg-xxl:    hsl(217, 70%, 70%);
$bg-xl:     hsl(219, 60%, 57%);
$bg-l:      hsl(220, 50%, 50%);
$bg-m:      hsl(224, 47%, 45%);
$bg-d:      hsl(227, 45%, 40%);
$bg-xd:     hsl(230, 50%, 30%);

// SHADE
$mist:      hsl(220, 10%, 92%);
$silver:    hsl(220, 15%, 80%);
$grey:      hsl(220, 9%, 52%);
$smoke:     hsl(227, 15%, 25%);
$tar:       hsl(233, 30%, 17%);
$onyx:      hsl(240, 50%, 5%);

// KEY
$red:       hsl(358, 80%, 55%);
$orange:    hsl(24, 100%, 60%);
$yellow:    hsl(43, 100%, 50%);
$green:     hsl(130, 85%, 35%);
$blue: 	    hsl(223, 45%, 45%);
$indigo:    hsl(270, 50%, 58%);
$violet:    hsl(330, 55%, 50%);

// SPECIAL
$blueberry: hsl(259, 65%, 65%);
$bronze:    hsl(43,  50%, 70%);
$mint:      hsl(153, 80%, 41%);
$navy:      hsl(235, 52%, 22%);
$navy-dark: hsl(227, 65%, 14%);
$olive:     hsl(166, 90%, 20%);
$purple:    hsl(255, 49%, 37%);
$teal:      hsl(180, 100%, 32%);
$fuscha:    hsl(340, 60%, 50%);
$ghost:     rgba(white, 0.05);
$demon:     rgba(black, 0.05);
