* {
  user-select: none;
  cursor: default;
  touch-action: manipulation; // Safari
  touch-action: none; // Chrome
}

svg {
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

.ui, .ui *, [ui], [ui] * {
  cursor: pointer;
}
