#svga-banner {
  pointer-events: none;
}

#svga-banner-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 31px;
  padding: 4px;
  padding-left: 68px; // Don't cover the Settings button
  border-bottom: 1px solid rgba($bg-xd, .6);
  text-align: center;
  font-size: 11pt;
  line-height: 1;
  color: white;
  background: linear-gradient(to right, $bg-xd, $bg-m, $bg-xd);
  opacity: 0;
  transition: .3s opacity;
}

#svga-banner-inner {
  max-width: 100%;
  padding-left: .1em;
  text-align: left;
  line-height: 1.1;
}
