#svga-banner {
  pointer-events: none;
}

#svga-banner-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30px;
  padding: 4px;
  padding-left: 68px; // Don't cover the Settings button
  font-size: 11pt;
  text-align: center;
  line-height: 1;
  background: black;
  opacity: 0;
  transition: .3s opacity;
}

#svga-banner-inner {
  max-width: 100%;
  padding-left: .1em;
  text-align: left;
  line-height: 1.1;
  color: white;
}
