#panel {
  pointer-events: none;
}

#panel-outer {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: .3s opacity;
  z-index: 100;
}

#panel-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(white, .8);
  cursor: pointer;
}

#panel-frame {
  position: relative;
  padding: 16px; // Space between the panel and the edge of the window on small screens
}

#panel-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  z-index: 101;
}

#Alert {
  max-width: 30em;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  color: white;
  background: $bg-l;
}
