// DESIGN
$header-height: 48px;
$column-width: 30rem;
$wide-column-width: 52rem;

// SHADE
$white:  white;
$silver: hsl(210,  12%, 80%);
$grey:   hsl(210,   9%, 52%);
$smoke:  hsl(210,  12%, 26%);
$black:  black;

// KEY
$red:    hsl(  2,  75%, 53%);
$orange: hsl( 25, 100%, 59%);
$yellow: hsl( 43, 100%, 50%);
$green:  hsl(130,  85%, 35%);
$blue: 	 #0063be; // approx 209, 100%, 37%
$indigo: hsl(270,  50%, 58%);
$violet: hsl(330,  55%, 50%);

// SPECIAL
$brown:  hsl( 23,  40%, 46%);
$maroon: hsl(359,  65%, 40%);
$mint:   hsl(153,  80%, 41%);
$navy:   hsl(235,  52%, 22%);
$pink:   hsl(357, 100%, 75%);
$teal:   hsl(180, 100%, 29%);
$transparent: transparent;

// SPECIAL COLORS
$navy-background-l: hsl(220,  45%, 50%);
$navy-background-d: hsl(227,  45%, 35%);
$navy-dark:         hsl(227, 100%, 10%);
$danger: #F02;
$logo: #FB0;
