// BACKGROUND
.bg-xxl    { background-color: $bg-xxl; }
.bg-xl     { background-color: $bg-xl; }
.bg-l      { background-color: $bg-l; }
.bg-m      { background-color: $bg-m; }
.bg-d      { background-color: $bg-d; }
.bg-xd     { background-color: $bg-xd; }

.white     { background-color: white; }
.mist      { background-color: $mist; }
.silver    { background-color: $silver; }
.grey      { background-color: $grey; }
.smoke     { background-color: $smoke; }
.onyx      { background-color: $onyx; }
.tar       { background-color: $tar; }
.black     { background-color: black; }

.red       { background-color: $red; }
.orange    { background-color: $orange; }
.yellow    { background-color: $yellow; }
.green     { background-color: $green; }
.blue      { background-color: $blue; }
.indigo    { background-color: $indigo; }
.violet    { background-color: $violet; }

.blueberry { background-color: $blueberry; }
.bronze    { background-color: $bronze; }
.mint      { background-color: $mint; }
.navy      { background-color: $navy; }
.navy-dark { background-color: $navy-dark; }
.olive     { background-color: $olive; }
.purple    { background-color: $purple; }
.teal      { background-color: $teal; }
.fuscha    { background-color: $fuscha; }
.ghost     { background-color: $ghost; }
.demon     { background-color: $demon; }

// TEXT
.bg-xxl-text    { color: $bg-xxl; }
.bg-xl-text     { color: $bg-xl; }
.bg-l-text      { color: $bg-l; }
.bg-m-text      { color: $bg-m; }
.bg-d-text      { color: $bg-d; }
.bg-xd-text     { color: $bg-xd; }

.white-text     { color: white; }
.mist-text      { color: $mist; }
.silver-text    { color: $silver; }
.grey-text      { color: $grey; }
.smoke-text     { color: $smoke; }
.tar-text       { color: $tar; }
.onyx-text      { color: $onyx; }
.black-text     { color: black; }

.red-text       { color: $red; }
.orange-text    { color: $orange; }
.yellow-text    { color: $yellow; }
.green-text     { color: $green; }
.blue-text      { color: $blue; }
.indigo-text    { color: $indigo; }
.violet-text    { color: $violet; }

.blueberry-text { color: $blueberry; }
.bronze-text    { color: $bronze; }
.mint-text      { color: $mint; }
.navy-text      { color: $navy; }
.navy-dark-text { color: $navy-dark; }
.olive-text     { color: $olive; }
.purple-text    { color: $purple; }
.teal-text      { color: $teal; }
.fuscha-text    { color: $fuscha; }

// EM
.bg-xxl-em em    { color: $bg-xxl; }
.bg-xl-em em     { color: $bg-xl; }
.bg-l-em em      { color: $bg-l; }
.bg-m-em em      { color: $bg-m; }
.bg-d-em em      { color: $bg-d; }
.bg-xd-em em     { color: $bg-xd; }

.white-em em     { color: white; }
.mist-em em      { color: $mist; }
.silver-em em    { color: $silver; }
.grey-em em      { color: $grey; }
.smoke-em em     { color: $smoke; }
.tar-em em       { color: $tar; }
.onyx-em em      { color: $onyx; }
.black-em em     { color: black; }

.red-em em       { color: $red; }
.orange-em em    { color: $orange; }
.yellow-em em    { color: $yellow; }
.green-em em     { color: $green; }
.blue-em em      { color: $blue; }
.indigo-em em    { color: $indigo; }
.violet-em em    { color: $violet; }

.blueberry-em em { color: $blueberry; }
.bronze-em em    { color: $bronze; }
.mint-em em      { color: $mint; }
.navy-em em      { color: $navy; }
.navy-dark-em em { color: $navy-dark; }
.olive-em em     { color: $olive; }
.purple-em em    { color: $purple; }
.teal-em em      { color: $teal; }
.fuscha-em em    { color: $fuscha; }
