// Modular Scale: Major Third (1.25:1)
h1 { font-size: 1.953em; } // ms 3
h2 { font-size: 1.563em; } // ms 2
h3 { font-size: 1.25em; } // ms 1
h4 { font-size: 1em; } // ms 0
h5 { font-size: .8em; }

@media (max-width: 700px) {
  // Modular Scale: Minor Third (1.2:1)
  h1 { font-size: 1.728em; } // ms 3
  h2 { font-size: 1.44em; } // ms 2
  h3 { font-size: 1.2em; } // ms 1
  h4 { font-size: 1em; } // ms 0
  h5 { font-size: .833em; }
}

@media (max-width: 450px) {
  // Modular Scale: Major Second (1.125:1)
  h1 { font-size: 1.424em; } // ms 3
  h2 { font-size: 1.266em; } // ms 2
  h3 { font-size: 1.125em; } // ms 1
  h4 { font-size: 1em; } // ms 0
  h5 { font-size: .888em; }
}
